body {
  background: url("../img/brick.jpg");
  color: black;
}

h1{
  text-align: center;
  font-size: 50px;
}

h2{
  margin-top: 60px;
}

button{
  margin-top: 40px;
}

img
{
  position:absolute;
  top: 310px;
  right: 100px;
}

ul{
  margin-top: 40px;
  font-size: 25px;
}

.check{
  font-size: 25px;
}

.jumbotron{
  background-image: url("../img/wood.jpg");
  box-shadow: 5px 10px 5px 5px gray;
}

#reset{
  float: center;
}

#createspace{
  float:right;
  list-style-type: none;
}

#layer2{
z-index: 20;
}

#layer3{
z-index: 30;
}

#layer4{
z-index: 40;
}

#layer5{
z-index: 50;
}
